body{
    background-color:white;
}


#container {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 10% 60% 1fr   ;
    grid-template-areas: 
    "hd hd hd"
    "nv nv nv"
    "mn ma mi"
    "ft ft ft"
    
;
    height: 100vh;
    gap: 10px;
    column-gap: 30px;

}



header{
    grid-area: hd;
    background-color:white;
    display: flex;
    justify-content: left;
    border-radius: 15;
    justify-content: space-between;
}
nav{
    grid-area: nv;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: black;
}

#m1{
    grid-area: mn;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-image: url(../img/bd4eac57a4b5f88ee9fb86c241945ed5.jpg);
    background-size: cover;
    
}
#m2{
    grid-area: ma;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-image: url(../img/360_F_629841198_PvAga4bfCe3ph2nou94ecRWPKA8lnO02.jpg);
    background-size: cover;


}
#m3{
    grid-area: mi;
    background-color:blue;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url(../img/ZsbyWkaF0TcGJOo9_RD-brand-image-1200x630.avif);
    background-size: cover;
}


footer{
    grid-area: ft;
    background-color:#3498db;
}

#nav3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    padding-right: 30px;
}
#logo{
    border-radius: 4rem;
}
#kategori{
    display: flex;
    color: black;
    font-size: 25px;
    background-color: white;
    margin: 40px;
    

}