body{
    background-color:#3498db;
}


#container {
    background-color: #3498db;
    display: grid;
    grid-template-columns: 40vw 1fr;
    grid-template-rows: 20% 30% 30% 1fr   ;
    grid-template-areas: 
    "hd hd"
    "na mn"
    "nv mn"
    "ft ft"
;
    height: 100vh;
    gap: 10px;

}


nav{
    grid-area: nv;
    display: flex;
    background-color:rgb(49, 101, 181) ;
    border-radius: 15px;
}

#nav2{
    grid-area: na;
    background-color: rgb(49, 101, 181);
}

header{
    grid-area: hd;
    background-color:#3498db;
    display: flex;
    justify-content: left;
    border-radius: 15;
    
}


main{
    grid-area: mn;
    background-color: rgb(49, 101,181);
    display: flex;
    border-radius: 15px;
}


footer{
    grid-area: ft;
    background-color: rgb(49, 101, 181);
    border-radius: 15px;
}