body{
    background-color:#ffffff;
}


#container {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 40vw 1fr;
    grid-template-rows: 20% 30% 30% 1fr   ;
    grid-template-areas: 
    "hd hd"
    "na mn"
    "nv mn"
    "ft ft"
;
    height: 100vh;
    gap: 10px;

}
a{
    color:black;
    background-color: white;
    border-radius: 10px;
    font-size:15px;
}


#nav1{
    grid-area: nv;
    display: flex;
    background-color:#3498db;
    border-radius: 15px;
    background-image:url("../img/image-3869099.jpg") ;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    justify-content: space-around;
    padding-left: 20px;
    align-items: center;
    font-size: larger;
    color: white;
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
    
    

}


#nav2{
    grid-area: na;
    background-color:#3498db ;
    background-image:url("../img/home-for-sale.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: white;
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
    border-radius: 15px;
    
    

    
}
#nav1:hover{
    transform: translateY(-10px);
    transition: 0,3s;
    box-shadow: 0px 8px 10px 0px black;
}


#nav2:hover{
    transform: translateY(-15px);
    transition: 0,3s;
    box-shadow: 0px 8px 10px 0px black;
}

header{
    grid-area: hd;
    background-color:#ffffff;
    display: flex;
    justify-content: left;
    border-radius: 15px;
    justify-content: space-between;
    
}
#logo{
    border-radius: 4rem;
}
#nav3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    padding-right: 30px;
}

main{
    grid-area: mn;
    background-color: #3498db ;
    display: flex;
    border-radius: 15px;
    background-image: url(../img/64307548-f67a-4a0b-9ded-bccf6a9caaca.png);
    background-size: cover;
}


footer{
    grid-area: ft;
    background-color:#3498db ;
    border-radius: 15px;
}
img{
    width: 300px;
}