body{
    background-color:#ffffff;
}


#container {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 40vw 1fr;
    grid-template-rows: 20% 30% 30% 1fr   ;
    grid-template-areas: 
    "hd hd"
    "na mn"
    "nv mn"
    "ft ft"
;
    height: 100vh;
    gap: 10px;

}


nav{
    grid-area: nv;
    display: flex;
    background-color:#3498db;
    border-radius: 15px;
    

}

#nav2{
    grid-area: na;
    background-color:#3498db ;
    background-image:url("../img/home-for-sale.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: white;
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
    

    
}
p {
    border: 5px solid black; /* 2px tjock, heldragen, blå linje */
    padding: 5px; /* Lägger till lite utrymme mellan text och kantlinje */
    color:white; /* Textfärgen */
    display: inline-block; /* Om du vill att ramen ska omsluta texten precis */
  }

#nav2:hover{
    transform: translateY(-15px);
    transition: 0,3s;
    box-shadow: 0px 8px 10px 0px black;
}

header{
    grid-area: hd;
    background-color:#ffffff;
    display: flex;
    justify-content: left;
    border-radius: 15;
    justify-content: space-between;
    
}
#logo{
    border-radius: 4rem;
}
#nav3{
    display: flex;
    justify-content: space-between;
    width: 30vw;
}

main{
    grid-area: mn;
    background-color: #3498db ;
    display: flex;
    border-radius: 15px;
}


footer{
    grid-area: ft;
    background-color:#3498db ;
    border-radius: 15px;
}
img{
    width: 300px;
}